body {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* patch */
#error {
  margin: 10px;
  color: #ee4b2b;
}
