@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-family: "JetBrains Mono", "monospace";
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    border-color: #fffdfa;
    background-color: #1c1c1c;
  }

  a {
    text-decoration: none;
    color: greenyellow;
    padding-bottom: 0.5px;
    border-bottom: 1.4px solid #19c9ff;
    ;
  }
}

@media (prefers-color-scheme: light) {
  html {
    color: black;
    border-color: #1c1c1c;
    background-color: #fffdfa;
  }

  a {
    text-decoration: none;
    color: greenyellow;
    padding-bottom: 0.5px;
    border-bottom: 1.4px solid #19c9ff;
  }
}


/* ::-moz-selection,
::selection {
  color: green;
  background: transparent;
} */
