/* my own css for some of my html */

/*
 * Add JetBrains Monospace Font
 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-family: "JetBrains Mono", "monospace";
}

img {
  /* IMPORTANT: 
   * Make image stays the same as browser's size
   * While it stays the same res 
   */
  height: 100%;
  width: 100%;
  object-fit: contain;
}

@media (prefers-color-scheme: dark) {

  /* Background and color font */
  html {
    color: white;
    border-color: #eeeeee;
    background-color: #222831;
  }

  /* Hyperlink */
  a {
    text-decoration: none;
    color: greenyellow;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    border-bottom-color: #19c9ff;
  }

  /* Hyperlink Hover */
  a:hover {
    border-bottom-color: cyan;
    -webkit-transition: border-bottom-color 250ms linear;
    -ms-transition: border-bottom-color 250ms linear;
    transition: border-bottom-color 300ms linear;
  }
}

@media (prefers-color-scheme: light) {

  /* Background and color font */
  html {
    color: black;
    border-color: #222831;
    background-color: #F2EFE5;
  }

  /* Hyperlink */
  a {
    text-decoration: none;
    color: darkseagreen;
    padding-bottom: 0.5px;
    border-bottom: 1.4px solid #19c9ff;
    color: greenyellow;
    padding-bottom: 1px;
    border-bottom: 1px solid;
    border-bottom-color: #19c9ff;
  }

  /* Hyperlink Hover */
  a:hover {
    border-bottom-color: blue;
    -webkit-transition: border-bottom-color 250ms linear;
    -ms-transition: border-bottom-color 250ms linear;
    transition: border-bottom-color 300ms linear;
  }
}

ul {
  list-style-type: "=> ";
}

li::marker {
  color: lightsteelblue;
}

.disableSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
