/* global css file to fit every html files */
/*
 * Add JetBrains Monospace Font
 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
  font-family: "JetBrains Mono", "monospace";
}

img {
  /* IMPORTANT:
   * Make image stays the same as browser's size
   * While it stays the same res
   */
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a {
  /* remove that inline of a hyperlink */
  text-decoration: none;
}

/* handles color based on devices */
@media (prefers-color-scheme: dark) {
  /* Background and color font */
  html {
    color: white;
    background-color: #222831;
  }

  a {
    color: #b2ffff;
  }
  a:hover {
    color: #b2ffff;
  }
}
@media (prefers-color-scheme: light) {

  /* Background and color font */
  html {
    color: #4e545c;
    background-color: #CDD3DC;
  }

  /* Hyperlink */
  a {
    color: #b2ffff;
  }

  /* hyperlink hover */
  a:hover {
    color: #d8ffff;
  }
}

ul {
  list-style-type: "=> ";
}

li::marker {
  color: lightsteelblue;
}

.disableSelect {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
