body {
 background-color: #323438;
}
.crafting_table {
      position: static;
      top: 5px;
      right: 5px;
  }
.test {
  color: rgb(255, 255, 255);
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.crischutu07 {
  float: left;
}